{% extends 'base.html' %}

{% block title %}
Home page
{% endblock %}

{% block body %}
  <h5>{{blogs.count}} blog{{blogs.count|pluralize}}</h5>
   {% for blog in blogs %}
   
    <div class="card">
        <div class="card-image">
        <img src="{{blog.image.url}}">
        <span class="card-title">{{blog.title}}</span>
        </div>
        <div class="card-content">
        <p>{{blog.description|truncatechars:150}}</p>
        <p>{{blog.date|date:'d M Y'}}</p>
        </div>
        <div class="card-action">
        <a href="{% url 'detail' blog.id %}">Read full Post</a>
        </div>
    </div>
   {% endfor  %}
{% endblock %}
